<form class='search-form' id='search-form'>
  <input type='text' name='query' autocomplete='off' placeholder='Search images...' />
</form>
<button type='button' class='btn' data-action='load-more'>
  <span class='label'>
    Показать еще
  </span>
</button>